@font-face {
  font-family: 'Lovelo';
  src: url('../../../public/fonts/Lovelo.otf') format('truetype');
}

.caixa {
    display:flex;
  }

  .info{
    margin-left: 80px;
    
  }

  .info h1 {
    font-size: x-large;
  }

  .info p {
    font-size: large;
  }

