.teste{
    width: 32rem; 
    height: 32rem; 

    background-image: url("../../assets/perfilcaderno.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
}

.img-sombra{
    filter: drop-shadow(10px 10px 30px #439da6);
}

/* trocar form pelo nome de uma classe para não bugar os outros forms da aplicação */
.form-perfil{ 
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem;
}

form input {
    width: 90%;
    padding: .75rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}